.category-icon-wrapper {
  color: rgba(87, 163, 232, 0.5);
}

.category-icon {
  display: inline-block;
  width: 0.75em;
  margin-right: 0.5em;

}
.category-icon * {
  fill: #57A3E8;
  fill: rgba(87, 163, 232, 0.5);
}

.category-icon > i {
  height: 30px;
}
