.article-body .reading-img img {
   width:150px;
   float:right;
   /*margin:10px;*/
   margin: 0px 10px 20px 10px;
}

.article-body img {
    max-height: 200px;
    display: block;
    margin: 40px auto 20px auto;
}

.article-body img.full-width {
  max-height : none;
}

.article-body img.half-width {
  max-height : none;
  width: 50%;
}

.bordered-img {
  border: 3px solid #57A3E8;
}
