.mc-field-group {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0;
}

.mc-field-group input {
  border-radius: 3px;
  max-width: 350px;
  width: 80vw;
  border: 1px solid #CCC;
}

.mc-field-group label {
  font-size: 0.9em;
  font-weight: 600;
}

#mc-embedded-subscribe {
  color: white;
  background: #57A3E8;
  border-radius: 4px;
  border: 0px;
  padding: 5px 10px;
  margin: 20px 0;
  cursor: pointer;
}

#mc-embedded-subscribe:hover {
  background: #3E8ACF;
}
