
.markdown pre {
  display: block;
  background: #343D46;
  color: #D8DEE9;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #343D46;
  color: #D8DEE9;
}

.hljs-comment,
.hljs-quote {
  color: #A7ADBA;
}

/* Green */
.hljs-selector-tag,
.hljs-string,
.hljs-attr,
.hljs-addition {
  color: #99C794;
}

/* Cyan */
.hljs-meta .hljs-meta-string,
.hljs-doctag,
.hljs-regexp {
  color: #89DDF3;
}

/* Teal */
.hljs-built_in {
color: #5fb3b3;
}

/* Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6699cc;
}

/* Yellow */
.hljs-attribute,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #FAC863;
}

/* Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #f9AE58;
}

/* Red */
.hljs-number,
.hljs-literal,
.hljs-deletion {
  color: #f07178;
}

/* Purple */
.hljs-keyword
{
  color: #c594c5
}

.hljs-formula {
  background: #A7ADBA;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
