#bd-label {
  font-family: "mr-eaves-xl-modern", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

#bd-label.large-label {
  font-size: 20px;
}

#bd-email {
  font-family: "mr-eaves-xl-modern", "Helvetica Neue", Arial, sans-serif;
  padding-left: 5px;
  font-size: 14px;
}


#bd-submit {
  background: #F1684E;

  color: white;

  border-radius: 4px;

  border: none;

  font-size: 14px;

  font-family: "mr-eaves-xl-modern", "Helvetica Neue", Arial, sans-serif;
}

@media all and (max-width: 960px) {
  #bd-email, #bd-submit{
    font-size: 10px;
  }
  #bd-label {
    font-size: 12px;
  }
}

.large-row #bd-submit,
.large-row #bd-email {
  font-size: 30px;
}

@media all and (max-width: 700px) {

  .large-row #bd-submit,
  .large-row #bd-email {
    font-size: 18px;
  }
}


.bd-subscribe-form {
  margin: 30px 0 50px 0;
  display: block;
}

.bd-subscribe-row {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-column-gap: 5%;
  grid-template-rows: 1fr;
  margin-top: 10px;

}
  @media all and (max-width: 960px) {
    .bd-subscribe-row {
      grid-template-columns: 1fr;
      grid-row-gap: 10%;
      grid-template-rows: 1fr 1fr;
    }
  }
