.header-link {
    color: rgba(100,100,100, 0.7);
}

.header-link:hover {
    color: #E2777A;
}

.ad-wrapper {
  height: 100px;
  width: 300px;
  padding: 0;
  overflow: hidden;
}

#carbonads {
  height: 100px;
  font-size: 14px;
  width: 300px;
  position: relative;
  background: #f0f0f0;
}

.carbon-wrap {
  height: 100px;
  display: flex;
}

.carbon-text {
  padding: 5px 10px;
  max-height: 80px;
  display: inline-block;
  overflow: hidden;
  line-height: 1.3;
}

.carbon-poweredby {
  color: rgba(100,100,100, 0.7);
  position: absolute;
  right: 5px;
  bottom: 0;
}
