.subscribe-page-group {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

.subscribe-page-group input {
  border-radius: 3px;
  max-width: 350px;
  width: 80vw;
  border: 1px solid #CCC;
  margin-right: 10px;
  height: 30px;
}

.mc-field-group label {
  font-size: 0.9em;
  font-weight: 600;
}

.subscribe-button-large {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  background: #rgb(42, 194, 240);
  border-radius: 4px;
  border: 0px;
  padding: 0px 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 40vw;
}

.subscribe-button-large:hover {
  background: #3E8ACF;
}

/* subscribe related, technically not mailchimp */

.twitter-row {
  display: flex;
  flex-wrap: wrap;
}

.twitter-row > div {
  padding-right: 20px;
  min-width: 300px;
}
