.columns {
  display: flex;
}
@media all and (max-width: 700px) {
  .columns {
    flex-wrap: wrap;
  }
  .columns > * {
    max-width: 100%;
  }
  .no-mobile {
    display: none;
  }
}

@media all and (max-width: 321px) {
  html {
    font-size: 100% !important;
  }
}
