.sidebar-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

.sidebar {
  padding-left: 2rem;
}

.subscribe-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap:wrap;
}

.subscribe-email {
  padding: 0px 0.1rem;
  margin: 0 0.2rem 0 0;
  font-size: 0.7rem;
  height: 1.5rem;
  width: 6rem;
}

.subscribe-button {
  color: white;
  margin: 0;
  cursor: pointer;
  background: #rgb(42, 194, 240);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  max-width: 2rem;
  flex-grow: 0;
  border: 0px;
  margin: 0;
  cursor: pointer;
}

.rss {
  padding-bottom: 10px;
}

.rss a {
  display: flex;
}

.rss a span {
}

.rss-icon {
  display: block;
  width: 17px;
  margin-right: 0.5em;
  height: 50px;
}

.rss-icon * {
  fill: #F1684E;
}

.twitter-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.twitter-item iframe {
  margin: 0 0 0 10px;
}
