a {
    color: #E2777A;
    text-decoration: none;
}

blockquote {
    border-left: 5px solid #57A3E8;
    font-style: italic;
    background: #EEE;
    font-weight: 400;
    font-size: .9rem;
    padding: 10px 20px;
    margin: 0 0 30px -25px;
}

blockquote p {
    margin-bottom: 0.667em;
}

h2, h3 {
    color: #57A3E8;
}

.explanation {
    padding: 10px;
    background: #eee;
    border-radius: 10px;
    margin: 20px auto;
    font-size: .85em;
}

.footnotes li > * {
    display: inline;
    margin-bottom: 0;
}
